<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your favourites</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    
    <header>
        <%- include(`../partials/nav`) %>
    </header>
    <main>
        <h1>Here are your favourites</h1>
        <div class="allRegisteredHomes">
            <% 
                allHomes.forEach((home)=>{%>
                    <div class="homeCard">
                        <img class="homeImage" src="<%=  home.imageUrl%>" alt="Home image">
                        <div class="homeInfo">
                            <h2 class="homeTitle"><%=  home.houseName%></h2>
                            <p class="meta">Email: <%=  home.email%></p>
                            <p class="meta">Price / night: <%=  home.price%></p>
                            <p class="meta">Location: <%=  home.location%></p>
                            <p class="meta">Rating: <span class="rating"><%=  home.rating%></span>/10</p>
                            <a href="/home/<%= home._id%>" style="display: inline-block; margin-top: 12px;"><button>Details</button></a>
                            <form action="/favourites/remove/<%=home._id%>" method="POST">
                                <button type="submit" style="display: inline-block; margin-top: 12px;background-color: red;">Remove from Favourite</button>
                            </form>
                        </div>
                    </div>
                <%})
            %>
        </div>
    </main>
</body>
</html>